.horizontal-image-card-container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  background-color: var(--primary-color);
  position: absolute;
  height: 88vh;
  top: 5rem;
  margin: auto;
  width: 95%;
  z-index: 1;
  position: fixed;
  border-radius: 8px;
}
#close-icon{
    scale: 1.8;
    color: black;
    position: absolute;
    top:10px;
    right: 18px;
}
.horizontal-image-card-header {
  height: 3rem;
  width: 100%;
  color: white;
  padding: 4px;
  background-color: var(--text-background-color);
  border-top-left-radius: 8px ;
  border-top-right-radius: 8px;
}
.horizontal-image-card-main {
  height: 40rem;
  width: 95rem;
}
.horizontal-image-card-image {
  height: 100%;
  width: 100%;
  object-fit:fill;
}
.horizontal-image-card-aside-container {
  display: grid;
}
/* .horizontal-image-card-download {
}
.horizontal-image-card-information {
  
} */
.horizontal-image-info {
  display: grid;
  grid-template-columns: repeat(3, auto);
  object-fit: cover;
}
.download-btn{
    background-color: var(--success);
    height: 2.5rem;
    width: 100%;

}
