
.searchbar-container{
    grid-template-columns: 1fr 10fr 1fr;
    background-color: var(--background-color) ;
    border: 4px solid var(--border-color);
    width: 40%;
    z-index: 0; 
}
.searchbar-input{
       border: none;
        background-color: transparent;
        border-left: 3px solid var(--primary-color);
        font-size: 3.5rem;
}
.searchbar-input:focus{
    outline: none;
}
.go-btn{
    background-color: var(--background-color) ;
    border: 4px solid var(--primary-color);
    padding: 5px;
    width: 6rem;
}
#search-icon{
  scale: 1.5;
padding:15px;
}