.auth-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  position: absolute;
  height: 55vh;
  top: 8rem;
  margin: auto;
  width: 35%;
  z-index: 1;
  position: fixed;
  border-radius: 12px;
}

.auth-login-btn {
  margin: 2rem;
}

.ml-l {
  margin: 2px;
}

.test-btn {
  border-radius: 5px;
  border: none;
  padding: 4px;
  margin: 10px;
  min-width: 40vh;
}

.gap-text-s {
  gap: 5px;
}

.text-gap-m {
  gap: 5px;
}

.auth-form {
  display: grid;
  grid-template-rows: auto auto;
}

.form-label {
  text-align: center;
}
.input-form {
  min-width: 40vh;
  min-height: 4vh;
  border: 3px solid var(--info);
  border-radius: 6px;
}
.input-form:focus {
  outline: none;
}

.signup-container {
  padding: 10px;
}
.crd-btn {
  background-color: var(--warning);
}
.log-btn {
  background-color: var(--success);
}
.sign-btn {
  background-color: var(--info);
}
