.display-wallpaper{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    padding-top: 5rem;
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}
